apiVersion: v2
name: ehrbase
version: 2.7.0
kubeVersion: ">=1.31"
description: EHRBase is an open-source, standards-based EHR server that provides a comprehensive platform for managing electronic health records.
keywords:
  - ehrbase
  - openehr
  - ehr
home: https://ehrbase.org
sources:
  - https://github.com/konateq/helm-charts/tree/ehrbase/charts/ehrbase
dependencies:
  - name: postgresql
    version: 18.1.13
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: postgresql.enabled
  - name: redis
    version: 24.0.0
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: redis.enabled
maintainers:
  - name: Konateq
    url: https://konateq.com
# renovate: image=ehrbase/ehrbase
appVersion: "2.24.0"
